
=render "users/logo"

.new
  .regist-menu
    %h1 会員情報
    %h2 詳細情報
    %h3 完了

  .member-regist
    .member-regist__title
      %h1 登録完了！

  .regist
    .regist__require
      = link_to "トップへ戻る", root_path
