.exhibision {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  .exhibision__top {
    @include flexbox;
    align-items: center;
    width: 100%;
    height: 56px;
    img {
      width: 150px;
      height: auto;
    }
  }
  .exhibision__content {
    max-width: 750px;
    min-width: 600px;
    height: 90%;
    margin: 0 auto;
    padding: 30px 50px;
    .exhibision__content__box {
      .exhibision__content__box__image {
        border-bottom: 1px solid #F5F5F5;
        min-height: 200px;
        max-height: 820px;
        width: 100%;
        margin-bottom :20px;
        &--name {
          @include name;
          span {
            @include require;
          }
        }
        p {
          font-size: 14px;
          padding: 8px;
        }
        #image-box-1{
          display: flex;
          flex-wrap: wrap;
          max-width: 90%;
          min-width: 550px;
          max-height: 300px;
          min-height: 180px;
          border: 1px dashed #ccc;
          background: #f5f5f5;
          justify-content: center;
          align-items: center;
          i {
            font-size: 24px;
            cursor: pointer;
          }
        }
      }
      .exhibision__content__box--item {
        border-bottom: 1px solid #F5F5F5;
        height: 400px;
        &--name {
          @include name;
          span {
            @include require;
          }
        }
        &--form {
          width: 90%;
          margin: 10px;
          input {
            @include form;
          }
        }
        &--text {
          height: 250px;
          margin: 10px;
          textarea {
            padding: 5px 10px;
            width: 90%;
            height: 230px;
          }
        }
      }
      .exhibision__content__box__detail {
        border-bottom: 1px solid #F5F5F5;
        max-height: 700px;
        min-width: 350px;
        width: 100%;
        p {
          color: #989898;
          margin-bottom: 10px;
        }
        &--name {
          @include name;
          span {
            @include require;
          }
        }
        &--select {
          margin: 10px 12px 20px;
          select {
            @include form;
          }
        }
        &--brand {
          @include name;
          span {
            padding: 3px 5px;
            background-color: gray;
            color: white;
            font-weight: bold;
            font-size: 13px;
          }
        }
        &--state {
          margin: 10px 12px 20px;
          select {
            @include form;
          }
        }
        &--form {
          margin: 10px 12px 20px;
          input {
            @include form;
          }
        }
      }
      .exhibision__content__box__shipment {
        border-bottom: 1px solid #F5F5F5;
        height: 400px;
        width: 100%;
        &--name {
          @include name;
          span {
            @include require;
          }
        }
        &--select {
          margin: 10px 12px 20px;
          select {
            @include form;
          }
        }
      }
      .exhibision__content__box__price {
        border-bottom: 1px solid #F5F5F5;
        height: 200px;
        width: 100%;
        &--name {
          float: left;
          font-size: 15px;
          width: 30%;
          height: 40px;
          margin-top : 20px;
          line-height: 40px;
          padding-left: 15px;
          font-weight: bold;
          span {
            @include require;
          }
        }
        &--select {
          float: right;
          margin: 20px 12px 20px 0;
          padding-right: 50px;
          input {
            width: 80%;
            height: 40px;
            color: black;
            text-align: right;
            padding-right: 10px;
          }
        }
      }
      .exhibision__content__box__sent{
        width: 100%;
        height: 200px;
        text-align: center;
        input {
          width: 80%;
          height: 48px;
          background-color: #42CED4;
          color: white;
          font-weight: bold;
          font-size: 26px;
          margin: auto;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

#file-box{
  .js-file_group{
    input {
      margin: 3px;
      font-size: 14px;
    }
    .js-remove{
      @include require;
      cursor: pointer;
      padding: 3px;
    }
  }
}