.done-item{
  height: 500px;
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100px;
    line-height: 100px;
  }

  &__comment{
    display: flex;
    justify-content: center;
  }

  &__btn{
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      padding: 5px 60px;
      margin: 30px 0px;
    }
  }
}