.card-new{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 50px auto;
  background-color:#fff;
  .pay{
    margin: 10px auto;
    height: 500px;
    &__title{
      margin: 30px auto;
      width: 200px;
      h1{
        margin: 0 auto;
        font-size: 40px;
      }
    }
    &__edit{
      margin: 30px auto;
      width: 500px;
      h1{
        margin: 0 auto;
        font-size: 40px;
      }

    }

    &__form{
      .inputForm{
      margin-bottom: 20px;
      }
      .charge-form{
        font-size: 20px;
        margin: 20px;
      }
      &--number{
        margin-bottom: 20px;
        input{
          width: 310px;
          height: 50px;
        }
      }
      &--exp{
        margin-bottom: 20px;
        label{
          margin-right:100px ;
        }
        select{
          height: 50px;
          width: 60px;
        }
      }
      &--cvc{
        margin-bottom: 20px;
        input{
          height: 50px;
        }
      }
    }
    &__btn{
      display: flex;
      justify-content: center;
      input{
        text-decoration: none;
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        font-size: 18px;
        border-radius: 100px;
        padding: 5px 120px;
        margin: 30px 0px;
      }
    }


  }
}

mark {
  @include require;
}