.buy{
  @include flex_column;
  margin: 50px auto;
  background-color:#f8f8f8;

  .buy-item{
    @include flex_colum_mar;
    padding: 20px;
    background-color: #fff;
    width: 700px;
    
    &__title{
      align-items: center;
      font-size: 40px;
      margin: 20px auto;
    }
    &__image{
      margin: 0 auto;
    }
    &__name{
      font-size: 30px;
      margin: 10px auto;
    }
    &__price{
      margin: 0 auto;
    }
  }

  .buy-card{
    @include flex_colum_mar;
    padding: 20px 50px;
    background-color: #fff;
    width: 700px;
    &__title{
      h3{
      font-weight: bold;
      margin-bottom: 20px;
      }
    }
    &__update{
      margin-left: auto;
      a{
      @include button;
      }
    }
  }

  .buy-profile{
    margin: 10px auto;
    padding: 20px 50px;
    background-color: #fff;
    width: 700px;
    display: flex;
    flex-direction: column;
    &__title{
      h3{
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    &__update{
      margin-left: auto;
      a{
      text-decoration: none;
      line-height: 48px;
      background: #3CCACE;
      border: none;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      padding: 10px 20px;
      margin: 30px 0;
      }
    }
  }

  .buy-btn{
    margin: 10px auto;
    padding: 20px 50px;
    background-color: #fff;
    width: 700px;
    @include flexbox;
    .buy-button{
    @include button;
    padding: 5px 120px;
    margin: 30px 0;
    }
  }

}