.card{
  @include flex_column;
  min-width:700px;
  align-items: center;
  font-size: 16px;

  .card-title{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .card-menu{
    input{
      width: 300px;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 70px;
    }
  }
}
