.header
  = image_tag "material/logo/logo.png", class: "image3"

  %h3.header__inner
   
    .head__bread
    .app__banner
      = image_tag "material/icon/member_photo_noimage_thumb.png", class: "image1"

    .mypage__nav 
      %li.mypage__nav__list--item
        = image_tag "material/icon/icon-04.png", class: "image2"


      %li.mypage__nav__list--item 出品する

      %li.mypage__nav__list--item 下書き一覧

      %li.mypage__nav__list--item 出品した商品-出品中

      %li.mypage__nav__list--item 出品した商品-取引中

      %li.mypage__nav__list--item 出品した商品-売却済み

      %li.mypage__nav__list--item 購入した商品-取引中

      %li.mypage__nav__list--item 購入した商品-過去の取引

      %li.mypage__nav__list--item 評価一覧

      %li.mypage__nav__list--item プロフィール

      %li.mypage__nav__list--item 支払い方法

      %li.mypage__nav__list--item メール/パスワード

      %li.mypage__nav__list--item 本人情報

      %li.mypage__nav__list--item 電話番号の確認

      %li.mypage__nav__list--item 
        = link_to "本人ではない場合はログアウト", destroy_user_session_path, method: :delete, class: 'btn'