=render "users/logo"

.card
  .card-title
    %h1 登録クレジットカード情報

  .card-menu
    .card__regist
      = button_to '登録する', new_card_path, method: :get
    .card__edit
      = button_to '変更する', "#", method: :get
