.vsc-initialized{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // width: 100vw;
  background-color: #f1f1f1;


  .header{
    height: 120px;
    display:flex;
    align-items: 120px;
    display: flex;
    align-items: center;
    
    .turn{
      margin: 0 auto;
      background-color: #999999;
      height: 60px;
      width: 700px;
      display: flex;


      &__line{

      }
    }
  }

  .regist-box{
    background-color: #fff;
    height: 260px;
    width: 700px;
  }

  .partition{
    margin-top: 30px;
    height: 50px;
    width: 600px;
    
    .hr{
      border: none;
      border-top: 1px #e6e6e6 solid;
    }
  }

  .login{
    height: 100px;
    width: 100%;
  }


  .footer{
    height: 60px;
    width: 100vw;
    bottom: 0;
    background-color: rgb(161, 161, 161);
  }
}
