*{
  box-sizing: border-box;

body{
  font-size: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  
  @mixin circle {
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
  }
  @mixin name {
    color: #333;
    text-decoration: none;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }
  @mixin item {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    line-height: 32px;
  }
  @mixin list {
    color: #333;
    line-height: 38px;
    padding: 0 0 0 16px;
  }
  @mixin description {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
  }
  .header{
    display: block;
    padding: 0 60px;
    &__inner{
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      &__main{
        position: relative;
        display: flex;
        align-items: center;
        h1.icon{
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a{
            width: 140px;
            display: block;
            img{
              width: 100%;
              vertical-align: bottom;
            }
           } 
          }
        }
      .search-form{
        margin-left: auto;
        width: 100%;
        form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          input{
            @include circle;
          }input{
            @include circle;
          }button{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            .search-form__icon{
              width: 100%;
              vertical-align: bottom;
            }
          }
        
        }
        
        }
        ul.resultLists{
          list-style: none;
          display: flex;
          position: absolute;
          right: 0;
          top: 36px;
          z-index: 2;
        }
        }
      .lists{
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        &__left{
          position: relative;
          display: flex;
          &__first-item{
            text-decoration: none;
            padding: 0;
            a{
              @include name;
            }
          }
          &__item{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            a{
              @include name;
            }
          }
        }
       &__right{
          margin-left: auto;
          display: flex;
          &__item-login{
            @include list;
            a{
              @include item;
            }
          }
          &__item-new{
            @include list;
            a{
              @include item;
            }
          }
        }
      } 
  }  
  .main{
    background: #f8f8f8;
    &__view{
      width: 100%;
      height: 560px;
      background-image: image-url("material/pict/bg-mainVisual-pict_pc.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      position: relative;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__content{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 35px 0 0 0;
        &__subtitle{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          line-height: 1.2;
          color: #fff;
        }
        &__text{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
          line-height: 1.77778;
          margin: 16px 0 0 0;
        }
        &__btn{
          display: flex;
          margin: 24px 0 0 0;
          a{
            margin-right: 10px;
            img{
              width: 180px;
              height: 65px;
            }
          }
          }
        }
    }
      &__picture{
        position: absolute;
        top: 0;
        right: 210px;
        }
    }
    .reason{
      padding: 60px 20px;
      &__subtitle{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__lists{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict{
            position: relative;
            margin-bottom: 20px;
            span.number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
        }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            span{
              color: #3CCACE;
            }
            }
          &__description{
            @include description;
        } 
        &__pict{
            position: relative;
            margin-bottom: 20px;
          }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            }
          &__description{
            @include description;
        } 
      }
    }
    
  }
    .middle{
      background-image: image-url("material/pict/bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      height: 400px;
      background-size: cover;
      display: flex;
      align-items: center;
      &__inner{
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        &__subtitle{
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        &__text{
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
        &__btn{
          display: flex;
          a{
            margin-right: 10px;
            img{
              width: 180px;
              vertical-align: bottom;
            }
            img{
              width: 180px;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .features{
      padding: 60px 100px;
      background-color: #fff;
      &__head{
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__items{
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        &__item{
          display: flex;
          flex-direction: column;
          width: calc(1 / 3 * 100%);
          text-align: center;
          padding: 0 20px;
          &--img{
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          &__subtitle{
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          &__detail{
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
            
          }
          
    }   
 }
    .pickup{
      padding: 80px 0 0;
      padding-bottom: 80px;
      background-color: #f8f8f8;
      height: 100%;
      &__head{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__products{
        margin: 0;
        padding: 0;
        &__product{
          text-align: center;
          a{
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
            .title{
              font-weight: bold;
            }
          }
        }
        .product-lists{
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: space-around;
          .product-list{
            width: 220px;
            display: inline-block;
            a{
              background-color: #fff;
              display: inline-block;
              text-decoration: none;
              .product-list-img{
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 40px;
                margin-inline-end: 40px;
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .product-list-body{
                background-color: white;
                color: #333;
                padding: 16px;
                h3.name{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                  font-weight: normal;
                }
                .details{
                  font-size: 16px;
                  ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
                    li{
                      display: list-item;
                      i.fas.fa-star{
                        display: inline-block;
                        font-style: normal;
                        font-variant-ligatures: normal;
                        font-variant-caps: normal;
                        font-variant-numeric: normal;
                        font-variant-east-asian: normal;
                        font-weight: normal;
                        font-stretch: normal;
                        font-size: inherit;
                        line-height: 1;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                      }
                    }
                  }
                  p{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    
    }     
  }
  .banner{
    background-image: image-url("material/pict/bg-appBanner-pict.jpg");
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .inner{
      color: #fff;
      text-align: center;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        a{
          margin-right: 10px;
          img{
            width: 180px;
            vertical-align: bottom;
          }
        }
        a{
          cursor: pointer;
          text-decoration: underline;
          img{
            width: 180px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
  .footer{
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    ul.contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      li.content{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        h2.content__head{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        ul{
          list-style: none;
          li{
            margin: 0;
            padding: 0;
            a{
              color: #fff;
              text-decoration: none;
              font-size: 12px;
              line-height: 32px;
            }
          }
        }
      }
    }
    .footer__logo{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      a{
        cursor: pointer;
        text-decoration: underline;
        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
    p{
      font-size: 14px;
    }
  }
  .purchase{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    span.purchase__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .purchase__icon{
      vertical-align: bottom;
      width: 60%;
      border: 0;
    }
}
}

