.logo{
  width: 100vh;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  &__box{
    display: flex;
    justify-content: center;
    &--image{
      width: 30%;
      height: 30%;
    }
  }
}