.create-profile{
  @include flex_column;
  min-width:700px;
  align-items: center;
  font-size: 16px;
  overflow: scroll;

  .regist-menu{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    h3{
      width: 64px;
      color: red;
    }
  }

  .member-regist{
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
  }

  .regist{
    input{
      width: 300px;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 120px;
    }
  }
}