.session{
  @include flex_column;
  margin-top: 100px;
  overflow: scroll;
  width: 100%;
  background-color: #F5F5F5;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  .new{
    align-items: center;
    .login{
      white-space: normal;
      input{
        @include width;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    }
    .new-regist{
      input{
        @include btn;
      }
    }
    .login__btn{
      input{
        @include btn;
        margin-bottom: 100px;
      }
    }
  }
}