.edit{
  min-width:700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  overflow: scroll;
  
  .new-regist-btn{
    width: 300px;
    height: 50px;
    border-radius: 1px;
    margin-bottom: 70px;
  }

  .login{
    align-items: center;
    width: 300px;
    white-space: normal;
    input{
      width: 300px;
      height: 40px;;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    &__form{
      display: flex;
      justify-content: space-between;
      input{
      width: 140px;
      }
    }
  }

  .login-btn{
    width: 300px;
    height: 50px;
    border-radius: 1px;
    margin-top: 60px;
    margin-bottom: 70px;
  }
}