@mixin width{
  width: 400px;
}
@mixin btn {
  width: 400px;
  height: 50px;
  border-radius: 1px;
  margin: 10px 0px;
}

.session{
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  .new{
    align-items: center;
    .login{
      white-space: normal;
      input{
        @include width;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    }

    .login__btn{
      input{
        @include btn;
      }
    }
    .new-regist{
      input{
        @include btn;
      }
    }
  }
}