.login{
  @include flex_column;
  justify-content: center;
  width: 600px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 50px;

  &__form{
    margin: 0 auto;
    margin-bottom: 20px;
    @include flex_column;
    h1{
      margin: 0 auto;
      font-size: 30px;
      margin-bottom: 30px;
    }
    input{
      width: 400px;
      height: 50px;
      margin: 10px;
    }
  }
  &__btn{
    margin: 0 auto;
    @include flex_column;
    input{
      text-decoration: none;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      padding: 2px 60px;
      margin: 10px 0px;
    }
  }

 
  
  
}