.new{
  min-width:700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  overflow: scroll;

  .regist-menu{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    h1{
      color: red;
    }
    h3{
      width: 64px;
    }
  }

  .member-regist{
    padding: 20px;
    font-size: 20px;
  }

  .regist{
    align-items: center;
    width: 300px;
    white-space: normal;
    &__require{
      display: flex;
      justify-content: start;
      h4{
        margin-left: 10px;
        color: red;
        font-size: 12px;
      }
    }

    input{
      width: 300px;
      height: 40px;
      margin-bottom: 20px;
      border-radius: 5px;
      }

    &__message{
      word-break: break-all;
      h1{
        font-weight: bold;
        font-size: 14px;
      }
      h2{
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &__form{
      display: flex;
      justify-content: space-between;
      input{
      width: 140px;
      }
    }

    &__birthday{
      .time-box{
        width: 90px;
        height:40px;
        margin-bottom: 20px;
      }
    }
  }

  .new-regist{
    &__submit{
      margin-top: 20px;
      margin-bottom: 100px;
      .btn{
        width: 300px;
        height: 50px;
        border-radius: 1px;
      }
    }
  }
}




